/* Body */

body {
    background-image: url(/assets/img/mountains.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 800px;
    z-index: 10;

}

/* Navigation Bar*/

.nav-bar {
    background-color: black;
    height: 80px;
    display: inline-block;
    width: 100%;
    z-index: 100;
    position:fixed;
    top: 0;
}
.nav-list {
    list-style-type: none;
    float: right;
    margin-left: 10px;
    margin-right: 45px;
    margin-top: 20px;
    font-family: heebo;
}
.nav-list a {
    color: #fff;;
}

.nav-link:hover{
    color: rgba(196, 196, 196) ;
}

.logo-image {
    margin-top: 13px;
    margin-left: 40px;
}
#name {
    color: #fff;
    height: 30px;
    position: fixed;
    top: 13px;
    left: 130px;
    margin-left: 20px;
    font-family: heebo;
    font-size: 40px;
    opacity: 0;
    transition: opacity 1s;
}

.logo:hover #name {
  display: block;
  opacity: 1;
}
.logo-image:hover {
    border: 1px solid rgb(7, 4, 4);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #fff;
  font-family: heebo;
}

/* Homepage Content */

/* Homepage Banner */

 .home-content {
     z-index: 500;
     display: inline-block;
     position: fixed;
     top: 20%;
     width: 100%;
     height: 200px;
     text-align: center;
     padding-top: 35px;
     color: #fff;
     font-family: heebo;
     text-shadow: 2px 2px #000;
     background-color: rgba(0,0,0,.3);
     -webkit-animation: fadein 4s;
     -moz-animation: fadein 4s;
     -ms-animation: fadein 4s;
     animation: fadein 4s;
 }
 @keyframes fadein {
     from {opacity: 0;}
     to {opacity: 1;}
 }
 @-moz-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
 }
 @-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
 }
 @-ms-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
 }
 @-o-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
 }

 .home-content h2 {
     font-size: 50px;
     font-weight: 500;
     text-align: center;
 }

 /* Click to go down */

 .down-arrow {
     z-index: 505;
     position: fixed;
     top: 80%;
     width: 100%;
     text-align: center;
 }

 .down-arrow:hover {
     transform: translateY(20px);
     transition-duration: 3s;
 }

 /* About Me */
.about-me {
    background-color: rgba(0,0,0,.3);
    position: fixed;
    left: 25%;
    top: 250px;
    width: 50%;
    color: #fff;
    font-family: heebo;
    padding: 30px;
    
}
.title {
    -webkit-animation: fadein 4s;
     -moz-animation: fadein 4s;
     -ms-animation: fadein 4s;
     animation: fadein 4s;
 }
 @keyframes fadein {
     from {opacity: 0;}
     to {opacity: 1;}
 }
 @-moz-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
 }
 @-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
 }
 @-ms-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
 }
 @-o-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
 }

 .title h1{
     color: #fff;
     text-align: center;
     margin-bottom: 70px;
     text-transform: uppercase;
     font-weight: bold;
     position: fixed;
     top: 150px;
     width: 100%;
 }

.aboutme-content {
    list-style-type: none;
    padding:0;
    margin: 0;
    -webkit-animation: fadein 4s;
     -moz-animation: fadein 4s;
     -ms-animation: fadein 4s;
     animation: fadein 4s;
}

 .aboutme-content li{
    background: url(/assets/img/bulletpointsm.png) no-repeat left top;
    margin-top: 10px;
    padding-left: 70px;
    margin-bottom: 20px;
 }

 /* Resume */

 .top-line {
    width: 100%;
    position: fixed;
    top: 280px;
 }
 
 .bottom-line {
    width: 100%;
    height: 150px;
    position: fixed;
    top: 480px;
 }
 
.download {
    height: 150px;
    width: 300px ;
    background-color: rgba(255,255,255,.3);
    border: 2px solid #fff;
    margin: auto;
}
.github {
    height: 150px;
    width: 300px ;
    background-color: rgba(255,255,255,.3);
    padding: 0;
    margin: auto;
    border: 2px solid #fff;
}
.resume-icons i{
    font-size: 50px;
    color:#495057;
    position: relative;
    left: 125px;
}
.resume-headers {
    font-size: 30px;
    color:#495057;
    font-family: heebo;
    text-align: center;
    margin-top: 25px;
}
.github:hover .resume-icons i {
    color: #fff;
}
.github:hover .resume-headers {
    color: #fff;
}
.github:hover {
    background-color:  rgba(255,255,255,.1);
}
.download:hover .resume-icons i{
    color:#fff;
}
.download:hover .resume-headers {
    color:#fff;
}
.download:hover {
    background-color:  rgba(255,255,255,.1);
}

/*@media queries - need on about me and contact page // remove name hover on home icon*/